/* 레이아웃 */

#wrap{
    width: 100%;
}

#content{
    background-image: url(./메인\ ㄹㅇ진짜\ 최종.png);
    width : 100%;
    height : 350%;
    background-repeat: no-repeat;
    background-size:100%;
    z-index:-1;
    position: relative;
    top:-70px;
}

#footer{
    width: 100%;
    height: 100px;
}

.container{
    width:990px;
    margin:0 auto;
}

/* Header */
#wrap .container{
    text-align: center;
    font-size:40px;
}

#wrap ul{
    margin : 0;
    position: absolute;
    top:20px;
    right:40px;
    top:16px;
}

#wrap li{
    display:inline-block;
    padding:6px;
}

#footer .container p{
    font-size:14px;
    padding-top:20px;
    color:#04a300;
}

#gomain{
    position: relative;
    width: 70px;
    height: 70px;
    top:32px;
    left:-210px;
}

#ad{
    background-image: url(./배너광고.png);
    width : 193px;
    height : 550px;
    background-repeat: no-repeat;
    background-size:100%;
    z-index:2;
    position: relative;
    top:1380px;
    left:20px;
    border:2px solid black;
}